* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:hsl(13, 31%, 94%);
  
  
}

body {
  margin: 30px;
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  flex-direction: row;
  
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr
}
p {
  font-weight: 100;
  font-size: 16px;
}
h4 {
  font-weight: 600;
}
span {
  color: rgba(190, 69, 25, 0.568);
  font-weight: 600;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products {
  margin: 10px;
  
}

.products img {
  width: 250px;
  border-radius: 10px;
}
.button {
  position: relative;
  padding-bottom: 10px ;
}
.add-cart {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  position: absolute;
  right: 60px;
  top: -20px;
  box-shadow: none;
  background-color: white;
  border: none;
  
  
}

.add-cart img {
  width: 14px;
}

.cart{
  margin: 30px;
  width: 300px;
  height: fit-content;
  background-color: white;
}

@media (max-width: 900px) {
  .product-list {
    grid-template-columns: 1fr 1fr;
  }
  .cart {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  body {
    /* flex-direction: column; */
    margin: 10px;
  }
  .container {
    grid-template-columns: 1fr;
    display: block;
  }
  .product-list {
    grid-template-columns: 1fr;
  }
  .products img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  .cart {
    width: 100%;
    margin: 10px 0;
  }
  .add-cart {
    right: 60px;
    top: -20px;
    width: 100%;
    min-width: 0;
    max-width: 200px;
    font-size: 15px;
    height: 38px;
    border-radius: 18px;
    padding-right:40px;
    display:flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .add-cart img {
  width: 16px;
  height: 16px;
  }
  .button{
    padding: 10px;
  }
}